.simplegallery {
  padding: 20px;
  overflow: hidden;
  	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.simplegallery img {

}
.simplegallery .content {
  background: #fff;
  position: relative;
  width: 330px;
  height: 340px;
  min-width: 330px;
  overflow: hidden;
}

.simplegallery .content img {
	min-width: 330px;
  width: 330px;
  height: 340px;
  	-moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

.simplegallery .thumbnail { margin-top: 5px; }

.simplegallery .thumbnail .thumb {
	
  float: left;
  width: 80px;
  height: 85px;
  margin: 0 5px 0 0;
  cursor: pointer;
}

.simplegallery .thumbnail .thumb img {
  border: 1px solid #0078C7;
  width: 75px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.simplegallery .thumbnail .last { margin: 0; }

.clear { clear: both; }