@CHARSET "ISO-8859-1";

#detail_barang {
	padding:20px 0 50px 50px;
}

.tabs .indicator {
	position: absolute;
	top: 0;
	height: 7px;
	background-color: #4285F4;
	
}

.tabs .tab a {
	color: #4285F4;
	
}
/*
.tabs {
	background-color: #333;
}

.tabs .active {
	background-color: #fff;
}
*/

.tabs .tab a:hover {
	color: #4285F4;
}

.deskripsi {
	color: #777;
	font-size: 12px;
}

.kondisi {
	width: 15%;
	vertical-align:top;
	text-align: center;
	padding: 3px;
	margin-top: 10px;
 	font-size: 11px;
}

#baru {
	border: 1px solid #f57c00;
	color: #f57c00;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	padding:20px 50px 0 50px;
	width: 100%;
	height: 70%;
}