@CHARSET "ISO-8859-1";

.product_detail {
	border-top: 1px solid #ddd;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	
}


/*Container*/

.box {
	
	height:auto;
	background:#FFF;
	margin-top:15px;
	margin-bottom:35px;
	border-top: 1px solid #ddd;
	min-width: 1150px;
}


.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.title {
	padding: 15px 30px 0 30px;
	font-size: 20px;
	color: #424242 ;
	font-weight: bold;
}

/************* KOLOM 2 ****************/
.stok {
	
	width: 35%;
	min-width: 150px;
	text-align: center;
	padding: 7px;
	margin-top: 10px;
	-moz-border-radius: 8px;
 	-webkit-border-radius: 8px;
 	-khtml-border-radius: 8px;
 	border-radius: 8px;
 	font-size: 11px;
}

.tersedia {
	border: 1px solid red;
	color: red;
}

.tidak_tersedia {
	background-color: #e0e0e0;
	border: 1px solid #777;
	color: #777;
}

.harga {
	color: #424242;
	font-size: 30px;
}


.quantity {
	min-width:300px;
	width: auto;
	height: 200px;
	border: 1px solid #eee;
	
	padding: 20px;
}

.product_information {
	padding-top: 20px;
}

a.social_media:hover {
	opacity:  .8;
}

/* EOF */


/************* KOLOM 3 ****************/
.kolom3 {
	height: 500px;
	border-left: 1px solid #eee;
}

.pengiriman {
	padding-top: 20px;
	padding-left: 10px;
	background-color: #fff;
	height: auto;
	
}
.pengiriman-time {
	padding-top: 10px;
	padding-left: 10px;
}
.provinsi, .kota {
	font-size: 11px;
	margin-top: 10px;
}


.seller {
	padding: 10px;
	background-color: #fff;
	height: auto;
}

.foto {
	width: 70px;
	height: 70px;
	background-color: #000;
	border: 1px solid #eee;
}

.avatar {
	max-width:100%; max-height:100%;
}

/* EOF */