body {
	background-color: #EEE;

}

/* HEADER */
nav {
	background-color: #4285F4;
	padding-top: 10px;
}

#search-field::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
#search-field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
#search-field::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ff;
   opacity:  1;
}
#search-field:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}

.top-menu {
	background-color: #212121;
	color: #000;
	height: 25px;
}

.top-menu-content {
	float: left;
	padding-top: 2px;
	padding-left: 22px;
	color: #fff;
	width: 100%;
}

.top-menu-close {
	float: right;
	padding-top: 2px;
	margin-right: 10px;
	color: #fff;
}

#fullslider .item img{
    display: block;
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.search-bar{
	width: 50%;
	margin: auto;
	margin-left: 5%;
	margin-right: 10%;
}

#search-field {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0 10px 8px -12px #000;
       -moz-box-shadow: 0 10px 8px -12px #000;
            box-shadow: 0 10px 8px -12px #000;
}

.sideNav {
	background-color: transparent;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow: none;
}

.sideNav:hover {
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.side-nav a {
	line-height: 40px;
	height: 40px;
}

nav ul.circle li {
	margin-left: 15px;
	margin-top: -3px;
}

nav ul.circle li:hover {
	background-color: transparent;
}

/* END OF HEADER */


/* LOGIN */

.btn-masuk {
	text-transform: none;
	
}
.btn-masuk:hover, .btn-masuk:focus {
}
a.daftar {
	color: #4285F4;
}
a.daftar:hover { 
	color: #212121;
}

.btn-facebook {
	text-transform: none;
	background: url("icon_fb.png") -15px -2px #3d548b no-repeat
}
.btn-facebook:hover, .btn-facebook:focus {
	background: url("icon_fb.png") -15px -2px #4965a0 no-repeat
}

.btn-google {
	text-transform: none;
	background: url("icon_google.png") -15px -2px #DD4B39 no-repeat
}
.btn-google:hover, .btn-google:focus {
	background: url("icon_google.png") -15px -2px #E74B37 no-repeat
}

/* END OF LOGIN */





/* CONTENT */

.filter {
	padding-top: 20px;
	border: 0px solid black;
}

.filter-scroll {
	background-color:#eee;
	position: fixed;
	top:60px;
	width:90%;
	z-index: 100;
	-webkit-box-shadow: 0 10px 8px -10px #000;
       -moz-box-shadow: 0 10px 8px -10px #000;
            box-shadow: 0 10px 8px -10px #000;
}

.filter-icon {
	margin-top: 10px;
}


.dropdown-content li > a, .dropdown-content li > span {
	color: #000;
	border-bottom: 1px solid #eee;
	font-size: 12px;
	padding: 10px;	
}

a.view_mode {
	width: 50px;
	background-color: #ffff;
	color: #000;
}

a.view_mode:hover {
	color: #4285F4;
}

.grid-content {
	background-color: #fff;
	
	height: auto;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.container-custom {
	margin-left: 5%;
	margin-right:5%;
}
.product_price {
	background-color: #e53935;
	color:#fff;
	position: absolute;
	padding: 5px;
	bottom: 15px;
}

.product_discount {
	background-color: #4285F4;
	color:#fff;
	position: absolute;
	padding: 5px;
	bottom: 15px;
	left : 120px;
}


ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

.statistic {
	padding-top: 5px;
}

/* END OF CONTENT */


/* GO TO TOP */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #999 url(back-to-top.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
}

.cd-top:hover {
	background-color: #212121;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 0.8;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 8px;
    bottom: 30px;
  }
}

/* END OF GO TO TOP */
.more_vert {
	padding: 5px;
}
.more_vert:hover {
	-moz-border-radius: 50%;
  	-webkit-border-radius: 50%;
  	-khtml-border-radius: 50%;
  	border-radius: 50%;
  	background-color: rgba(0, 0, 0, 0.1);
  	opacity: 0.5;
}

.card-title {
	cursor: pointer;	
}

a.title:hover {
	text-decoration: underline;
}

.breadcrumbs {
	margin-top: 65px;
	font-size: 12px;
}

.breadcrumbs > .fa {
	padding-left: 10px;
	padding-right: 10px;
}

a.breadcrumbs-link {
	color: #000;
}

a.breadcrumbs-link:hover, 
a.breadcrumbs-link:active,  
a.breadcrumbs-link:focus {
	color: #2196f3;
}

.divider {
	margin-top: 15px;
}
/** ARROW ON DIV **/
/*
.more {
	position: absolute;
	top: 260px;
	right: 60px;
	display: none;
	background-color: #fff;
	z-index: 10;
	width: 100px;
}

.collection-item{
	padding: 0;
	margin: 0;
	border: none;
}

.arrow-right {
	position: absolute;
	right: -8px;
	z-index: 11;
	top: 15px;
	
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #ddd;
}
*/